<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Calculator</display-name>
  <servlet>
  <servlet-name>CalculatorMale01</servlet-name>
  <servlet-class>calculate.CalculatorMale01</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CalculatorMale01</servlet-name>
  <url-pattern>/CalculatorMale01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>CalculatorMale02</servlet-name>
  <servlet-class>calculate.CalculatorMale02</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CalculatorMale02</servlet-name>
  <url-pattern>/CalculatorMale02</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>CalculatorFemale01</servlet-name>
  <servlet-class>calculate.CalculatorFemale01</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CalculatorFemale01</servlet-name>
  <url-pattern>/CalculatorFemale01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>CalculatorFemale02</servlet-name>
  <servlet-class>calculate.CalculatorFemale02</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CalculatorFemale02</servlet-name>
  <url-pattern>/CalculatorFemale02</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>